.card {
	min-width: 330px;
	width: 40vw;
	height: auto;
	background-color: white;
	border-radius: 20px;
	padding: 30px;
	margin-bottom: 10px;
	padding-top: 15px;
}

@media (max-width: 280px) {
	.card {
		min-width: 270px;
	}
}
